/chocolatescraper
threedbox/threedboxItems.json
deltapc/deltapcItems.json
mintict/mintictItems.json
technoshop/technoshopItems.json
webshopScrapers/webshopScrapers/scrapy_errors.log
webshopScrapers/webshopScrapers/mintictItems.json
webshopScrapers/webshopScrapers/technoshopItems.json
webshopScrapers/webshopScrapers/threedboxItems.json
webshopScrapers/webshopScrapers/deltapcItems.json
webshopScrapers/webshopScrapers/merged_items_20240815_193213.json
merged_items_20240815_132521.json
webshopScrapers/webshopScrapers/itshopItems.json
